In [1]:
import numpy as np
import pandas as pd
import random
# import seaborn as sns

In [2]:
def index_win_ratio(a, b, m, n):
    N = 100_000

    result = {"first": 0, "second": 0}

    for i in range(N):
        # while loop for each heads and tails case
        flips = np.zeros(n)
        while True:
            for j in range(1, n):
                flips[j - 1] = flips[j]

            number = random.randint(1, m)
            
            flips[n - 1] = number
        
            if (flips == a).all():
                result["first"] += 1
                break
            if (flips == b).all():
                result["second"] += 1
                break

    return result["first"] / (result["first"] + result["second"])

In [3]:
def index_app_num(a, m, n):
    N = 100_000

    result = 0

    for i in range(N):

        flips = np.zeros(n)

        while True:
            for j in range(1, n):
                flips[j - 1] = flips[j]

            number = random.randint(1, m)

            flips[n - 1] = number

            result += 1
            
            if (flips == a).all():
                
                break

    return result / N

In [4]:
def make_arrays(m, n):
    if n == 1:
        arr = []

        for i in range(1, m + 1):
            arr.append(np.array([i]))

        return arr
    
    arrays = []
    for i in range(1, m + 1):
        for array in make_arrays(m, n - 1):
            arrays.append(np.append(array, i))

    return arrays

In [5]:
n = 6 # length of case
m = 2 # number of characters
arr = make_arrays(m, n)

indexes = []

for i in arr:
    indexes.append(np.array2string(i))

df = pd.DataFrame(index = indexes).reset_index()

df["num"] = df.apply(lambda row: index_app_num(arr[row.name], m, n), axis = 1)

# for a in tqdm(arr):
#     df.loc[np.array2string(a), "num"] = index_app_num(a, m, n)

df

            index        num
0   [1 1 1 1 1 1]  125.92113
1   [2 1 1 1 1 1]   63.72668
2   [1 2 1 1 1 1]   65.98735
3   [2 2 1 1 1 1]   63.70260
4   [1 1 2 1 1 1]   70.06749
..            ...        ...
59  [2 2 1 2 2 2]   69.84726
60  [1 1 2 2 2 2]   63.87924
61  [2 1 2 2 2 2]   65.73446
62  [1 2 2 2 2 2]   64.22178
63  [2 2 2 2 2 2]  125.92286

[64 rows x 2 columns]

In [6]:
# N을 줄여서 다양한 m 과 n에 대해서 테스트 해보기

In [7]:
with open("results2.txt", "a") as function:
    function.writelines("m : " + str(m) + "\n" + "n : " + str(n) + "\n\n")
    for i in range(0, len(indexes)):
        function.writelines(indexes[i] + " : " + str(df.loc[i, "num"]) + "\n")
    function.writelines("\n--------------------\n\n")

In [8]:
df.sort_values("num")

            index        num
3   [2 2 1 1 1 1]   63.70260
1   [2 1 1 1 1 1]   63.72668
56  [1 1 1 2 2 2]   63.74422
44  [1 1 2 2 1 2]   63.75766
40  [1 1 1 2 1 2]   63.77704
..            ...        ...
18  [1 2 1 1 2 1]   74.26882
21  [2 1 2 1 2 1]   83.64012
42  [1 2 1 2 1 2]   84.10226
0   [1 1 1 1 1 1]  125.92113
63  [2 2 2 2 2 2]  125.92286

[64 rows x 2 columns]