In [ ]:
import numpy as np
import pandas as pd
import random
# import seaborn as sns

In [ ]:
def index_win_ratio(a, b, m, n):
    N = 100_000

    result = {"first": 0, "second": 0}

    for i in range(N):
        # while loop for each heads and tails case
        flips = np.zeros(n)
        while True:
            for j in range(1, n):
                flips[j - 1] = flips[j]

            number = random.randint(1, m)
            
            flips[n - 1] = number
        
            if (flips == a).all():
                result["first"] += 1
                break
            if (flips == b).all():
                result["second"] += 1
                break

    return result["first"] / (result["first"] + result["second"])

In [ ]:
def index_app_num(a, m, n):
    N = 100_000

    result = 0

    for i in range(N):

        flips = np.zeros(n)

        while True:
            for j in range(1, n):
                flips[j - 1] = flips[j]

            number = random.randint(1, m)

            flips[n - 1] = number

            result += 1
            
            if (flips == a).all():
                
                break

    return result / N

In [ ]:
def make_arrays(m, n):
    if n == 1:
        arr = []

        for i in range(1, m + 1):
            arr.append(np.array([i]))

        return arr
    
    arrays = []
    for i in range(1, m + 1):
        for array in make_arrays(m, n - 1):
            arrays.append(np.append(array, i))

    return arrays

In [7]:
n = 5 # length of case
m = 2 # number of characters
arr = make_arrays(m, n)

indexes = []

for i in arr:
    indexes.append(np.array2string(i))

df = pd.DataFrame(index = indexes).reset_index()

df["num"] = df.apply(lambda row: index_app_num(arr[row.name], m, n), axis = 1)

# for a in tqdm(arr):
#     df.loc[np.array2string(a), "num"] = index_app_num(a, m, n)

df

          index       num
0   [1 1 1 1 1]  62.10273
1   [2 1 1 1 1]  32.02550
2   [1 2 1 1 1]  33.85535
3   [2 2 1 1 1]  31.86295
4   [1 1 2 1 1]  37.75292
5   [2 1 2 1 1]  31.98384
6   [1 2 2 1 1]  34.02598
7   [2 2 2 1 1]  32.19422
8   [1 1 1 2 1]  33.97488
9   [2 1 1 2 1]  35.92620
10  [1 2 1 2 1]  42.10307
11  [2 2 1 2 1]  31.94339
12  [1 1 2 2 1]  34.11935
13  [2 1 2 2 1]  36.00644
14  [1 2 2 2 1]  33.81846
15  [2 2 2 2 1]  31.97110
16  [1 1 1 1 2]  32.07803
17  [2 1 1 1 2]  33.96547
18  [1 2 1 1 2]  35.97029
19  [2 2 1 1 2]  33.94492
20  [1 1 2 1 2]  32.13533
21  [2 1 2 1 2]  41.84906
22  [1 2 2 1 2]  35.92619
23  [2 2 2 1 2]  34.11549
24  [1 1 1 2 2]  32.07362
25  [2 1 1 2 2]  34.00656
26  [1 2 1 2 2]  31.92489
27  [2 2 1 2 2]  38.03894
28  [1 1 2 2 2]  31.86904
29  [2 1 2 2 2]  33.90798
30  [1 2 2 2 2]  32.04939
31  [2 2 2 2 2]  62.35377

In [8]:
# N을 줄여서 다양한 m 과 n에 대해서 테스트 해보기

In [11]:
with open("results2.txt", "a") as function:
    function.writelines("m : " + str(m) + "\n" + "n : " + str(n) + "\n\n")
    for i in range(0, len(indexes)):
        function.writelines(indexes[i] + " : " + str(df.loc[i, "num"]) + "\n")
    function.writelines("\n--------------------\n\n")

In [ ]:
df.sort_values("num")